body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0rem 3rem;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

ul li {
    list-style-type: none;
}

.list li {
    border: 8px solid black;
    margin-bottom: 2rem;
    padding: 1rem;
}

.list li:hover {
    background-color: bisque;
}

.list {
    font-size: 22px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}
