body {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0rem 3rem;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

ul li {
    list-style-type: none;
}

.list {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
}